.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
  }

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
 }

/* config itens da lista */

.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    /* background-color: #49D0B0; */
    color: #fff;
    /* height: 100px; */

}

/* config imagem */

.pokemon .number{

    color: black;
    opacity: .35;
    text-align: right;
    font-size: .8rem;
}

.pokemon .name{

    color: white;
    margin-bottom: 0;
    text-transform: capitalize;

}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{

    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{

    /* background-color: #61E1CA; */
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border: 1px solid white;
    border-radius: .5rem;
    filter: brightness(1.1);
    text-align: center;

}

.pokemon .detail img{

    max-width: 100%;
    height: 85px;
}

.pagination {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;

}

.pagination button {
    
    padding: .25rem .5rem;
    color: white;
    background-color: #6C79DB;
    border: none;
    border-radius: .5rem;
}